:root {
  --main-color: #ff3757;
  --sub-color: #ff715a;
  --shadow: 5px 5px 10px #faa2b0;
}
body {
  line-height: 1.25;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
h1 {
  color: var(--main-color);
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

h1 strong {
  font-size: 100px;
}

h2,
h3 {
  color: var(--sub-color);
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 50px;
  margin-right: 40px;
  font-size: 25px;
  text-decoration: none;
  white-space: nowrap;
}

.homepage {
  color: var(--sub-color);
}

.buttons-area {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.about-me-button,
.main-button {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  box-shadow: var(--shadow);
  color: white;
  margin-right: 20px;
}

.about-me-button:hover {
  opacity: 0.8;
  color: var(--sub-color);
  transition: 100ms;
  text-decoration: none;
}
.main-button:hover {
  opacity: 0.8;
  color: var(--sub-color);
  transition: 100ms;
  text-decoration: none;
}

.contact-me-button {
  border: 1px solid var(--main-color);
  background: white;
  border-radius: 15px;
  box-shadow: var(--shadow);
  color: var(--main-color);
  text-decoration: center;
}

.contact-me-button:hover {
  background: var(--main-color);
  color: white;
  transition: 200ms;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.about-me {
  max-width: 90%;
  text-align: justify;
}

.container {
  padding: 20px 10%;
}

.contact-me {
  text-align: center;
}

.my-background {
  max-width: 90%;
  text-align: justify;
}

.my-competences {
  justify-content: space-around;
  flex: 1;
}

.my-competences ul {
  list-style-type: none;
  padding-left: 0px;
}

.language,
.working-skills,
.working-experiences {
  border: 1px solid #ff715a;
  border-radius: 5px;
  max-width: 250px;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.title-language,
.title-working-skills,
.title-experiences {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

p {
  text-align: justify;
}

@media (max-width: 720px) {
  h1 strong {
    font-size: 60px;
  }
  h3 {
    font-size: 25px;
  }
  .main-button {
    display: block;
    text-align: center;
    margin: 0;
  }
  .my-works-images {
    width: 400px;
    margin: 0 auto;
  }
}
